
@{
    ViewBag.Title = "Home_Empleado";
    Layout = "~/Views/Shared/Layout_Usuarios/_Layout_Home_Empleado.cshtml";
}

    <div class="container text-center">

        <h1>Bienvenido al panel Empleado</h1>
        <br />
        <h6>Aquí podrar </h6>
    </div>