
@model HOSTAL.ENTIDADES.EMPLEADO


@{
    ViewBag.Title = "Home_Admin";
    Layout = "~/Views/Shared/Layout_Usuarios/_Layout_Home_Admin.cshtml";
}

<br />
<br />
<div class="container text-center">

    <h1>Bienvenido al panel Administrador</h1>
    <hr class="bg-warning" />
    <h6>Aquí podrar administrador los perfiles de Proveedores y Empleados.</h6>
</div>